In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("/Users/prathamesh/Desktop/Dsbda/Data sets/records.csv")
df.head(20)
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Role    5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [5]:
#filling with missing values

In [6]:
update_df=df
update_df['Salary']=update_df['Salary'].fillna(update_df['Salary'].mean())
print(update_df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [7]:
#imputation with additional Column

In [11]:
update_df=df
update_df['Salaryismissing']=update_df['Salary'].isnull()
print(update_df.head(50))

   ID    Name    Role  Salary  Salaryismissing
0   1  Pankaj  Editor   10000            False
1   2    Lisa  Editor    8000            False
2   3   David  Author    6000            False
3   4     Ram  Author    4000            False
4   5  Anupam  Author    5000            False

In [9]:
#filling with Regression model

In [10]:
testdf=df[df['Salary'].isnull()==True]
traindf=df[df['Salary'].isnull()==False]
traindf.drop("Salary",axis=1,inplace=True)
testdf.drop("Salary",axis=1,inplace=True)
print(traindf)

   ID    Name    Role  Salary  Salaryismissing
0   1  Pankaj  Editor   10000            False
1   2    Lisa  Editor    8000            False
2   3   David  Author    6000            False
3   4     Ram  Author    4000            False
4   5  Anupam  Author    5000            False