In [8]:
 import pandas as pd

In [9]:
#sorting

In [10]:
df=pd.read_csv("/Users/prathamesh/Desktop/Dsbda/Data sets/records.csv")

In [11]:
print("\nBefore Sorting")
print(df)

Before Sorting
   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [17]:
df.sort_values('Salary',axis=0,ascending=False,inplace=True)

In [13]:
print("\nAfter Sorting")
print(df)

After Sorting
   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
4   5  Anupam  Author    5000
3   4     Ram  Author    4000

In [14]:
#Transpose

In [21]:
import pandas as pd

In [22]:
df=pd.read_csv("/Users/prathamesh/Desktop/Dsbda/Data sets/records.csv")

In [23]:
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [24]:
print(df.T)

             0       1       2       3       4
ID           1       2       3       4       5
Name    Pankaj    Lisa   David     Ram  Anupam
Role    Editor  Editor  Author  Author  Author
Salary   10000    8000    6000    4000    5000

In [25]:
print(df.shape)

(5, 4)

In [26]:
print(df.size)

20

In [ ]:
#shape

In [27]:
import pandas as pd

In [28]:
df=pd.read_csv("/Users/prathamesh/Desktop/Dsbda/Data sets/records.csv")

In [29]:
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [30]:
print(df.shape)

(5, 4)

In [31]:
print(df.size)

20