In [4]:
import pandas as pd

In [5]:
data={"Roll-num":[10,20,30,40],"Age":[12,14,13,12],"NAME":["Pratham","Anil","Pratik","Aditya"]}

In [6]:
block=pd.DataFrame(data)

In [7]:
print(block)

   Roll-num  Age     NAME
0        10   12  Pratham
1        20   14     Anil
2        30   13   Pratik
3        40   12   Aditya

In [8]:
print(block.loc[0:3])

   Roll-num  Age     NAME
0        10   12  Pratham
1        20   14     Anil
2        30   13   Pratik
3        40   12   Aditya

In [9]:
print(block.loc[0:2,['Age','NAME']])

   Age     NAME
0   12  Pratham
1   14     Anil
2   13   Pratik

In [11]:
print(block.iloc[[0,2],[0,1]])

   Roll-num  Age
0        10   12
2        30   13

In [3]:
#merging

In [15]:
import pandas as pd

In [16]:
d1={'Name':['Pratham','Anil','Pratik','Aditya'],'country':['India','USA','Japan','Pakistan'],'Role':['CEO','CEO','Manager','clark']}

In [17]:
block2=pd.DataFrame(d1)

In [19]:
print("DataFrame 2:\n",block2)

DataFrame 2:
       Name   country     Role
0  Pratham     India      CEO
1     Anil       USA      CEO
2   Pratik     Japan  Manager
3   Aditya  Pakistan    clark

In [20]:
d2={'ID':[1,2,3,4],'Name':['Pd','Aj','PM','AS']}

In [21]:
block3=pd.DataFrame(d2);

In [31]:
print("DataFrame 3:\n",block3)

DataFrame 3:
    ID Name
0   1   Pd
1   2   Aj
2   3   PM
3   4   AS

In [26]:
df_merged=block2.merge(block3);

In [27]:
print("Result Inner Join:\n",df_merged)

Result Inner Join:
 Empty DataFrame
Columns: [Name, country, Role, ID]
Index: []

In [30]:
print("Result Left join \n",block2.merge(block3,how='left'))

Result Left join
       Name   country     Role  ID
0  Pratham     India      CEO NaN
1     Anil       USA      CEO NaN
2   Pratik     Japan  Manager NaN
3   Aditya  Pakistan    clark NaN

In [33]:
print("Result Left join \n",block2.merge(block3,how='right'))

Result Left join
   Name country Role  ID
0   Pd     NaN  NaN   1
1   Aj     NaN  NaN   2
2   PM     NaN  NaN   3
3   AS     NaN  NaN   4

In [34]:
print("Result Left join \n",block2.merge(block3,how='outer'))

Result Left join
       Name   country     Role   ID
0  Pratham     India      CEO  NaN
1     Anil       USA      CEO  NaN
2   Pratik     Japan  Manager  NaN
3   Aditya  Pakistan    clark  NaN
4       Pd       NaN      NaN  1.0
5       Aj       NaN      NaN  2.0
6       PM       NaN      NaN  3.0
7       AS       NaN      NaN  4.0